/* //////////////  GAME BOARD \\\\\\\\\\\\\\\\\\ */

.game-id {
  text-align: right;
  display: inline-block;
  width: 25%;
  font-weight: 900;
  margin-right: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px dashed rgba(36, 36, 36, 0.57);
}

/* .game-details {
  display: block;
  width: 100%;
} */

.top {
  border-bottom: 1px dashed gray;
}

.game-playing {
  /* margin-top: 10px; */
  display: inline-block;
  max-width: 50%;
  /* padding-top: 5px; */
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

/* .game-details {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.game-board {
  display: inline-block;
  text-align: right;
  display: inline-block;
}

.game-star {
  display: inline-block;
  width: 8%;
  text-align: center;
  margin-right: 10px;
}

.light-gold {
  background-color: rgb(240, 236, 178);
}

.light-red {
  background-color: rgb(238, 192, 192);
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.icon {
  max-width: 30px;
  max-height: 30px;
}
