@using TreasureSweepGame.Models
@model TreasureSweepGame.Models.Game
@using System

<div class="col-md-6 offset-md-3">
  <h1>CREATE GAME</h1>
  @using (Html.BeginForm())
  {
    <input type="hidden" value="@ViewBag.ProfileId" name="P1Id" id="P1Id">
    <input type="hidden" value="@ViewBag.ProfileId" name="CurrentPlayer" id="CurrentPlayer">
    <br>
    <label for="P2Id">Second player ID number:</label>
    @Html.TextBoxFor(model => model.P2Id, new {@placeholder = "add your friend's user ID"})
    <br>
    <input type="submit" value="START NEW GAME" class="btn-block" />
  }
<hr>
  <div class="playerSearchDiv text-center">
    <h3>Search for Friend's ID</h3>
    @using(Html.BeginForm("Search", "Profiles"))
    {
      <input type="text" name="playerName" id="playerName">
      <button type="submit" class="btn">Search for Friend</button>
    }
  </div>
</div>