@using TreasureSweepGame.Models
@model TreasureSweepGame.Models.Game
@using System

<div class="col-md-6 offset-md-3">
  <h1>CREATE GAME</h1>
  @using (Html.BeginForm())
  {
    <input type="hidden" value="@ViewBag.ProfileId" name="P1Id" id="P1Id">
    <input type="hidden" value="@ViewBag.ProfileId" name="CurrentPlayer" id="CurrentPlayer">
    <br>
    <h4 for="P2Id">SECOND PLAYER ID NUMBER:</h4>
    @Html.TextBoxFor(model => model.P2Id)
    <br>
    <button type="submit" class="btn-block">START NEW GAME</button>
  }
<hr>
  <div class="playerSearchDiv text-center">
    <h4>SEARCH FOR FRIEND BY NAME</h4>
    @using(Html.BeginForm("Search", "Profiles"))
    {
      <input type="text" name="playerName" id="playerName">
      <button type="submit" class="btn-block">SEARCH FOR FRIEND</button>
    }
  </div>
</div>