<h1>@Model</h1>

<div class="two-buttons">
  @Html.ActionLink("CREATE GAME", "Create", "Games", null, new { @class = "btn" })
  @Html.ActionLink("VIEW ALL GAMES", "Index", "Games", null, new { @class = "btn" })
</div>