@using System;
@using System.Collections.Generic;
<h1>LEADERBOARD</h1>
<h2>ORDERED BY PERCENTAGE OF GAMES WON</h2>
@foreach(KeyValuePair<string, int> leader in Model)
{
  <h4>@leader.Key: @leader.Value%</h4>
}