<div class="row">
  @if (ViewBag.CurrentPlayer == 1)
  {
    <div class="col-md-7">
      @await Html.PartialAsync("_P2TargetBoard")
    </div>
    <div class="col-md-5">
      @await Html.PartialAsync("_P1Look")
    </div>
  }
  else if (ViewBag.CurrentPlayer == 2)
  {
    <div class="col-md-7">
      @await Html.PartialAsync("_P1TargetBoard")
    </div>
    <div class="col-md-5">
      @await Html.PartialAsync("_P2Look")
    </div>
  }
</div>
<div class="row">
  @if (ViewBag.IsYourTurn)
  {
    <h1>@ViewBag.PlayerName - IT'S YOUR TURN</h1>
  }
  else if (@Model.IsComplete == false)
  {
    <h1>WAITING FOR YOUR OPPONENT...</h1>
  }
  else if (@Model.IsComplete) 
  {
    <h1>PLAYER @Model.WinningPlayer WON!</h1>
  }
</div>