<div class="row">
  @if (ViewBag.CurrentView == 1)
  {
    <div class="col-md-7">
      @await Html.PartialAsync("_P2TargetBoard")
    </div>
    <div class="col-md-5">
      @await Html.PartialAsync("_P1Look")
    </div>
  }
  else if (ViewBag.CurrentView == 2)
  {
    <div class="col-md-7">
      @await Html.PartialAsync("_P1TargetBoard")
    </div>
    <div class="col-md-5">
      @await Html.PartialAsync("_P2Look")
    </div>
  }
</div>
<div class="row">
  <div class="col-md-12">
    @if (ViewBag.IsYourTurn && @Model.IsComplete == false)
    {
      <h1> IT'S YOUR TURN </h1>
    }
    else if (@Model.IsComplete == false)
    {
      <h1>WAITING FOR YOUR OPPONENT...</h1>
    }
    else if (@Model.IsComplete) 
    {
      <h1>@ViewBag.WinningName WON!</h1>
      <h1>GAME OVER </h1>
    }
  </div>
</div>