@{
  ViewData["Title"] = "HOME";
}

<h1>WELCOME</h1>
<h4>IF YOU'RE NEW HERE...</h4>
<div class="instructions">
	<p>click the Account tab and register for an account</p>
	<p>log in to your account and create a custom profile</p>
	<p>start a new game by selecting "add game" on your profile page</p>
	<p>if you know your opponent's ID number, enter it into the form and click "start new game"</p>
	<p>OR search for an opponent by name and click "challenge opponent"</p>
</div>
<br>
<div class="rules">
	<h4>HOW TO PLAY</h4>
	<p>when it's your turn, select a sand tile to search for treasure</p>
	<p>keep track of your opponent's progress on the smaller game board</p>
	<p>if you dig up a burried bomb, your opponent wins</p>
	<p>the first player to uncover all treasure chests on the opponent's beach wins</p>
</div>