@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Treasure sweep game is a special mission where the other players will lose. You must protect the structure and pick up the treasure each round. This first of a series of five treasure sweep game. We are continuing to refine the first and second game and will be adding three more. After all, we want you to have a chance to win the best prize at the end!

    $75 for TWO copies of STAR WARS The Imperial Commando and STAR WARS The Imperial Commando & 2nd Anniversary Game

    and STAR WARS The Imperial Commando & 2nd Anniversary Game $300 for 3 copies of STAR WARS The Imperial Commando and STAR WARS The Imperial Commando & 2nd Anniversary Game

    and STAR WARS The Imperial Commando and STAR WARS The Imperial Commando</p>
</div>
