@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <h1>Welcome, @User.Identity.Name!</h1>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    @Html.ActionLink("PLAY A GAME", "Index", "Games", null, new { @class="btn-block" })
    <input type="submit" class="btn-block" value="LOG OUT" />
  }
}
else
{
  <div class="two-buttons">
    @Html.ActionLink("REGISTER", "Register", "Account", null , new { @class="btn" })
    @Html.ActionLink("LOG IN", "Login", "Account", null, new { @class="btn" })
  </div>
}